{{>header}}

<div class="container">
    <div class="row">
        {{#categories}}
            <div class="col-sm">
                <p>{{name}}</p>
            </div>
        {{/categories}}
    </div>
    {{#rows}}
        <div class="row">
            {{#milestones}}
                <div class="col-sm">
                    <p>{{mileName}}</p>
                </div>
            {{/milestones}}
        </div>
    {{/rows}}
</div>



{{>footer}}