<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thomaspark/bootswatch@v3.4.1/lumen/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
	<link rel="stylesheet" href="user.css">
	<link rel="stylesheet" href="Registration-Form-with-Photo.css">
	<link rel="stylesheet" href="Features-Clean.css">
</head>

<div class="register-photo">
	<div class="form-container">
		<div class="image-holder"></div>
		<section>
			<div class="row">
				<div class="col-xs-6">
					<a href="#" class="active" id="login-form-link">Login</a>
				</div>
				<div class="col-xs-6">
					<a href="#" id="register-form-link">Register</a>
				</div>
			</div>
			<form id="login-form" action="/login" method="post" role="form" style="display: block;">
				<h2 class="text-center"><strong>Login</strong> and start projects</h2>
				<div class="form-group">
					<input type="text" name="email" id="email" class="form-control" placeholder="Email" required>
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control" placeholder="Password"
						required>
				</div>
				<div class="form-group">
					<button type="submit" name="login-submit" id="login-submit"
						class="form-control btn btn-primary btn-block" value="Log In" onclick="">Login</button>
				</div>
				{{#errorMessage}}
				<br>
				<div class="user-feedback-error">
						{{errorMessage}}
				</div>
				{{/errorMessage}}
			</form>
			<form id="register-form" action="/register" method="post" role="form" name="register"
				style="display: none;">
				<div class="form-group">
					<input class="form-control" id="email" for="email" type="email" name="email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<input class="form-control" id="password" for="password" type="password" name="password" placeholder="Password" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="confirm-password" id="confirm-password"
					placeholder="Confirm Password" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" for="firstName" name="firstName" id="firstName"
						 placeholder="First Name" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" for="lastName" name="lastName" id="lastName" 
						placeholder="Last Name" required>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit" name="register-submit" id="register-submit" onclick="checkPassword()">Sign Up</button>
				</div>
			</form>
			
		</section>
	</div>
</div>
<div class="features-clean">
	<div class="container">
		<div class="intro">
			<h2 class="text-center">Project Tracking App</h2>
			<p class="text-center">Project Tracking App lets you organise your university coursework in no time! It's easy to use and it's FREE!</p>
		</div>
		<div class="row features">
			<div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-map-marker icon"></i>
				<h3 class="name">Works everywhere</h3>
				<p class="description">Our app is hosted in the cloud! You can access it 24/7 from anywhere in the world. All you need is an internet connection. That's it!</p>
			</div>
			<div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-time icon"></i>
				<h3 class="name">Stay Organised and Save Time</h3>
				<p class="description">OOur app allows you to stay organised with your university coursework and save time. It's easy to use. We keep it simple!</p>
			</div>
			<div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-list-alt icon"></i>
				<h3 class="name">Customizable</h3>
				<p class="description">You can add projects, modify, rearrange, make use of milestones, to keep track of deadlines. More features coming soon!&nbsp;</p>
			</div>
		</div>
	</div>
</div>

<style>
	body {
		padding-top: 90px;
	}

	.panel-login {
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.panel-login>.panel-heading {
		color: #00415d;
		background-color: #fff;
		border-color: #fff;
		text-align: center;
	}

	.panel-login>.panel-heading a {
		text-decoration: none;
		color: #666;
		font-weight: bold;
		font-size: 15px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.panel-login>.panel-heading a.active {
		color: #029f5b;
		font-size: 18px;
	}

	.panel-login>.panel-heading hr {
		margin-top: 10px;
		margin-bottom: 0px;
		clear: both;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	}

	.panel-login input[type="text"],
	.panel-login input[type="email"],
	.panel-login input[type="password"] {
		height: 45px;
		border: 1px solid #ddd;
		font-size: 16px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.panel-login input:hover,
	.panel-login input:focus {
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #ccc;
	}

	.btn-login {
		background-color: #59B2E0;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #59B2E6;
	}

	.btn-login:hover,
	.btn-login:focus {
		color: #fff;
		background-color: #53A3CD;
		border-color: #53A3CD;
	}

	.forgot-password {
		text-decoration: underline;
		color: #888;
	}

	.forgot-password:hover,
	.forgot-password:focus {
		text-decoration: underline;
		color: #666;
	}

	.btn-register {
		background-color: #1CB94E;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #1CB94A;
	}

	.btn-register:hover,
	.btn-register:focus {
		color: #fff;
		background-color: #1CA347;
		border-color: #1CA347;
	}
</style>

<script>
	$(function () {
		$('#login-form-link').click(function (e) {
			$("#login-form").delay(100).fadeIn(100);
			$("#register-form").fadeOut(100);
			$('#register-form-link').removeClass('active');
			$(this).addClass('active');
			e.preventDefault();
		});

		$('#register-form-link').click(function (e) {
			$("#register-form").delay(100).fadeIn(100);
			$("#login-form").fadeOut(100);
			$('#login-form-link').removeClass('active');
			$(this).addClass('active');
			e.preventDefault();
		});
	});

	function checkPassword() {
		var password = document.getElementById("password").value;
		var confPassword = document.getElementById("confirm-password").value;

		if (password === confPassword) {
			document.register.submit();
			return;
		} else {
			return;
		}
	}
</script>
