{{>header}}

<head>
    <!--Bootstrap dependencies-->
    {{! <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css"> }}
    <!--Font Awesome 5-->
    <script src="https://kit.fontawesome.com/2cf49272b2.js" crossorigin="anonymous"></script>
    {{! <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script> }}
    <meta charset="utf-8">
    <title>My Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thomaspark/bootswatch@v3.4.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../Features-Blue.css">
    <link rel="stylesheet" href="../../Footer-Basic.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<div class="container-projrcts">


    <div class="container-fluid">
        <div class="features-blue">
            <div class="container">
                <div class="intro">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <br>
                <form action="/project/create">
                    <button class="btn btn-primary btn-block" type="submit" class="form-control"> Create
                        Project</button>
                </form>
            </div>
        </div>
        <ul id="myTab" class="nav nav-tabs">
            <li class="tab-item">
                <a href="#incomplete" class="nav-link active" data-toggle="tab" id="incl_proj_act">
                Incomplete Projects</a>
            </li>
            <li class="nav-item">
                <a href="#complete" class="nav-link " data-toggle="tab">Complete Projects</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade" id="incomplete">
                <ul style="list-style-type:none;" id="items">
                    
                    {{#incompleteProjects}}
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="container well span6">
                                    <div class="col-sm"></div>
                                    <div class="row-fluid">
                                        <div class="span1">
                                            <i class="fas fa-bars"></i>
                                        </div>

                                        <div class="span9">
                                            <a href="/project/edit/{{_id}}">
                                                <h3><b>Title: </b> {{title}}</h3>
                                            </a>
                                            <h6>Module: {{module}}</h6>
                                            <h6> Due Date: {{dueDate}}</h6>
                                            <label>Completion Date:</label>
                                            <h6>{{completionDate}}</h6>
                                        </div>
                                        <div class="btn-group">
                                            <form action="/project/complete/{{_id}}" method="post">
                                                <input type="hidden" id="id" name="id" value="{{_id}}">
                                                <button type="submit" class="btn btn-success">
                                                    Complete
                                                </button>
                                            </form>
                                            <form action="/project/delete/{{_id}}" method="post">
                                                <input type="hidden" id="id" name="id" value="{{_id}}">
                                                <button type="submit" class="btn btn-danger">
                                                    Delete
                                                </button>
                                            </form>
                                        </div>

                                        <p>
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                Share
                                            </button>
                                            </p>
                                            <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                https://domore.space/project/view/{{_id}}
                                            </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/incompleteProjects}}
                
                </ul>
            </div>
            <div class="tab-pane fade" id="complete">
                <ul style="list-style-type:none;" id="items-complete">
                    <br>
                    {{#completeProjects}}
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="container well span6">
                                    <div class="col-sm"></div>
                                    <div class="row-fluid">
                                        <div class="span1">
                                            <i class="fas fa-bars"></i>
                                        </div>

                                        <div class="span9">
                                            <a href="/project/edit/{{_id}}">
                                                <h3>{{title}}</h3>
                                            </a>
                                            <label>Module:</label>
                                            <h6>{{module}}</h6>
                                            <label>Due Date:</label>
                                            <h6>{{dueDate}}</h6>
                                            <label>Completion Date:</label>
                                            <h6>{{completionDate}}</h6>
                                        </div>
                                        <div class="span2">
                                            <form action="/project/delete/{{_id}}" method="post">
                                                <input type="hidden" id="id" name="id" value="{{_id}}">
                                                <button type="submit" class="btn btn-danger">
                                                    <span class="icon-trash"></span> Delete</a>
                                                </button>
                                            </form>
                                        </div>
                                        <p>
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                Share
                                            </button>
                                            </p>
                                            <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                https://domore.space/project/view/{{_id}}
                                            </div>
                                    </div>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    {{/completeProjects}}
                    <br>
                </ul>
            </div>
        </div>
    </div>

</div>


<script>


    // Sorting project order
    window.addEventListener('load', function () {
        var el = document.getElementById('items');
        var sortable = Sortable.create(el, {
            handle: '.fas.fa-bars', // handle's class
            group: "items",
            ghostClass: "sortable-ghost",

            // storing and updating order and saving to local storage
            store: {
                get: function (sortable) {
                    var order = localStorage.getItem(sortable.options.group.name);
                    return order ? order.split('|') : [];
                },

                set: function (sortable) {
                    var order = sortable.toArray();
                    localStorage.setItem(sortable.options.group.name, order.join('|'));
                    console.log(order);
                }

            }
        });
    })


    window.addEventListener('load', function () {
        var el = document.getElementById('items-complete');
        var sortable = Sortable.create(el, {
            handle: '.fas.fa-bars', // handle's class
            group: "items",
            ghostClass: "sortable-ghost",

            // storing and updating order and saving to local storage
            store: {
                get: function (sortable) {
                    var order = localStorage.getItem(sortable.options.group.name);
                    return order ? order.split('|') : [];
                },

                set: function (sortable) {
                    var order = sortable.toArray();
                    localStorage.setItem(sortable.options.group.name, order.join('|'));
                    console.log(order);
                }

            }
        });
    })

document.getElementById('incl_proj_act').click()

</script>


{{>footer}}